.venv
.env
.python-version
pyproject.toml
uv.lock
inssues.md
__pycache__/
# migrations/  # NÃO IGNORE AS MIGRATIONS!

# Logs
logs/*.log

# Celery
celerybeat-schedule*
celerybeat.pid

# Database
*.sqlite3  # Está correto - não subir banco local

# Static files
staticfiles/

# Screenshots de debug
*.png
login_page.html